@page "/counter"
@using BlazingMongoIddict.Client.Store.Counter
@inherits Components.FluxorDispatchComponent<CounterState>

<h1>Counter</h1>

<p>Current count: @State.Count</p>

<button class="btn btn-primary" @onclick="() => ChangeCounter(1)">Increment</button>
<button class="btn btn-primary" @onclick="() => ChangeCounter(-1)">Decrement</button>

@code {
	private void ChangeCounter(int number) =>
		Dispatch(new ChangeCounterAction(number));
}
