@page "/fetchdata"
@using BlazingMongoIddict.Client.Store.Weather
@inherits Components.FluxorDispatchComponent<WeatherState>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (State.IsLoading)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Temp. (C)</th>
				<th>Temp. (F)</th>
				<th>Summary</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var (dateTime, temperature, summary) in State.CurrentForecasts)
			{
				<tr>
					<td>@dateTime.ToShortDateString()</td>
					<td>@temperature.Celsius</td>
					<td>@temperature.Fahrenheit</td>
					<td>@summary</td>
				</tr>
			}
		</tbody>
	</table>
}

<button class="btn btn-primary" @onclick="() => FetchDataClick(State.Index - 5)">Previous</button>
<button class="btn btn-primary" @onclick="() => FetchDataClick(State.Index + 5)">Next</button>

@code {

	private void FetchDataClick(int number) =>
		Dispatch(State.Forecasts.ContainsKey(number) ? new LoadPageAction(number) : new FetchDataAction(number));
	
	protected override void OnInitialized()
	{
		base.OnInitialized();
		if (!State.Forecasts.ContainsKey(State.Index))
			Dispatch(new FetchDataAction(State.Index));
	}
}
